{% extends "base.html" %}
{% block content %}
<h3>首頁</h3>
<a href = '/'><button type="button" class="btn btn-warning">登出</button></a>
<table>
 <tr>
  <td>姓名:{{ individual.name }} </td> 
  <td>生日:{{ individual.year}}/{{ individual.month }}/{{ individual.day}}</td> 
  <td><img src="{{individual.image.url }}" width="200" alt="錯誤">  </td>
 </tr>
</table>


<a href = '/testpage/{{ n }}/{{ individual.name }}/{{ individual.password }}/'>跑五次測試</a>
<a href = '/introduction/{{ individual.name }}/{{ individual.password }}'>開始遊戲</a>
{% endblock %}
<!--<a class="nav-link" href="/testpage/{{n}}">短期記憶遊戲</a>-->